.container-fluid{
    margin: 0;
}

.navrow{
    margin: 0;
}

.nav-btn-container{
    width: 100%;
    display: flex;
}

.card-body h1{
    font-weight: bold;
    font-size: 50px;
}
.card-body h2{
    font-weight: bold;
}

.headcard{
    margin-left: 50px;
    margin-top: 16px;
}

.headimage{
    max-height: 500px;
}

.roundborder{
    border-radius: 15px;
}

.sideborder{
    border-radius: 0px 15px 15px 0px;
}

.cardcontent{
    max-width: 85%;
}

.btnwidth{
    width: 40%;
}

.ellipse{
    max-height: 175px;
    width: auto;
    max-width: 50%;
    position: absolute;
}

.cardimg{
    height: 200px;
    position: relative;
}

.solutioncard{
    max-width: 500px;
}

.solbtn{
    margin-left: 25%;
    margin-right: 25%;
}

.workscard{
    height: 500px;
}

#smallerpicture{
    max-height: 400px;
}