
.containter-fluid{
    padding: 0;
}
.content-image{
    display: flex;
    justify-content: flex-start;
    background-color: blue;
}


.imagetext1{
    color: white;
    position: absolute;
    top: 6%;
    left: 5%;
    font-size: 15px;  
    padding-bottom: 30px;
}

.imagetext2{
    color: white;
    position: absolute;
    top: 40%;
    left: 0%;
    font-size: 15px;
}


.button1{
    position: absolute;
    top: 100%;
    left: 55%;
    font-size: 18px; 
}


.card{
    display: flex;
    justify-content: flex-end;
    margin-left: 40px;
}

.form-control{
    display: flex;
    justify-content: flex-end;
}

h1{ 
    display: flex;
    justify-content: center;
}



.row>* {
    padding-left: 0px;
}

button{
    display: flex;
    justify-content: flex-end;
    Color: Blue;
}

.option{
    display: flex;
    justify-content: flex-end;
}

.col-image{
    clip-path: ellipse(86% 100% at -1% 0%);
}

.rounded-circle{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-group{
    padding-top: 15px;
    padding-right: 15px;
}

.sign-in{
    font-weight: bold;
    font-size: medium;
    margin-top: 20px;
    
}

.social-platforms{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: xx-small;
}

.button2{
    margin-top: 20px;
}
